Click==7.0
dnspython==1.16.0
Flask==1.1.1
Flask-PyMongo==2.3.0
gunicorn==19.9.0
html5lib==0.999999999
httplib2==0.9.2
itsdangerous==1.1.0
Jinja2==2.10.1
pymongo==3.9.0
PyNaCl==1.1.2
pyRFC3339==1.0
PyYAML==3.12
SecretStorage==2.3.1
simplejson==3.13.2
six==1.11.0
system-service==0.3
systemd-python==234
urllib3==1.22
virtualenv==16.7.4
webencodings==0.5
Werkzeug==0.15.5

